$primary: #14FFEC;
$info: #0D7377;
$secondary: #323232;
$dark: #212121;


@use "sass:color";
@import "../node_modules/bootstrap/scss/bootstrap";



* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}

body {
    min-height: 100vh;
}

.imgFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: fondo-cambio 10s alternate infinite;



    &.marron {
        filter: hue-rotate(140deg) sepia(0.3) saturate(0.8) brightness(1); //marron
        transition: filter 0.5s ease;
        animation: fondo-cambio-marron 10s alternate infinite;
    }

    &.verde {
        filter: hue-rotate(235deg) sepia(0) saturate(0.5) brightness(1.4); //verde
        transition: filter 0.5s ease;
        animation: fondo-cambio-verde 10s alternate infinite;
    }

    &.vintage {
        filter: hue-rotate(170deg) sepia(0.4) saturate(1) brightness(1.2); //vintage
        transition: filter 0.5s ease;
        animation: fondo-cambio-vintage 10s alternate infinite;
    }

    &.cyan {
        filter: hue-rotate(320deg) sepia(0) saturate(0.8) brightness(1.6); //cyan
        transition: filter 0.5s ease;
        animation: fondo-cambio-cyan 10s alternate infinite;
    }

    &.navy {
        filter: hue-rotate(0deg) sepia(0) saturate(1.4) brightness(1.3); //navy
        transition: filter 0.5s ease;
        animation: fondo-cambio-navy 10s alternate infinite;
    }

    &.violet {
        filter: hue-rotate(30deg) sepia(0) saturate(1) brightness(1.2); //violet
        transition: filter 0.5s ease;
        animation: fondo-cambio-violet 10s alternate infinite;
    }

    &.halloween {
        filter: hue-rotate(150deg) sepia(0) saturate(1.2) brightness(1.2); //halloween
        transition: filter 0.5s ease;
        animation: fondo-cambio-halloween 10s alternate infinite;
    }

    &.retro {
        filter: hue-rotate(110deg) sepia(0) saturate(0.6) brightness(1.4); //retro
        transition: filter 0.5s ease;
        animation: fondo-cambio-retro 10s alternate infinite;
    }
}


.hr1 {
    width: 200px;
    border-top: 3px solid var(--my-primary);
    box-shadow: 0 15px 15px var(--my-primary);
    border-radius: 50%;
}

.hr2 {
    border-top: 3px solid var(--my-primary);
    box-shadow: 0px -5px 10px var(--my-primary);
}

.hr3 {
    border-top: 3px solid var(--my-primary);
    box-shadow: 0px 5px 10px var(--my-primary);
}

.imgPerfil {
    position: relative;
    width: 90px;
    margin-bottom: 10px;
    animation: moverFoto 2s infinite ease-in-out alternate;
}

.colorImgPerfil {
    fill: var(--my-primary);
}

.fotoPerfil {
    width: 200px;
    height: 260px;
    box-shadow: 0 0 15px var(--my-primary);
    margin-right: 20px;
    float: left;
    margin-bottom: 15px;
}

.container-sobreMi {
    display: block;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .fotoPerfil {
            margin-right: 0;
            margin-bottom: 15px;
            width: 150px;
            height: 200px;
        }

    }
}

main {
    div {
        div {
            .btn:hover {
                animation: brillo-top 0.5s infinite alternate;
            }

            @keyframes brillo-top {
                0% {}

                100% {
                    box-shadow: 0px 0px 15px var(--my-primary);
                }
            }
        }
    }
}

#sobreMi {
    display: none;
    background-color: var(--my-info);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: var(--my-dark);
    text-align: justify;
    box-shadow: 0 0 10px var(--my-info);
    animation: bounceInUp 0.6s;

    a {
        color: var(--my-secondary);
    }
}

.botones {
    position: absolute;
    display: none;
    top: 10px;
    right: 70px;
    width: 160px;
    height: 102px;
    border: 2px solid #252c31;
    flex-wrap: wrap;
    overflow: hidden;

    span {
        height: 18px;
        text-align: center;
        line-height: 18px;
        color: white;
        font-size: 18px;
        background-color: #6c7881;
    }

    .cajonPaleta {
        background-color: #000102;
        width: 100%;
        height: calc(100% - 18px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: start;

        button {
            border: none;
            width: 40px;
            height: 40px;
        }
    }

    @media (max-width: 768px) {
        position: absolute;
        display: none;
        top: 10px;
        right: 60px;
        width: 160px;
        height: 142px;
        border: 2px solid #252c31;
        flex-wrap: wrap;

        span {
            height: 18px;
            text-align: center;
            line-height: 18px;
            color: white;
            font-size: 18px;
            background-color: #6c7881;
        }

        .cajonPaleta {
            background-color: #000102;
            width: 100%;
            height: calc(100% - 18px);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: start;

            button {
                border: none;
                width: 40px;
                height: 40px;
            }
        }
    }
}

#proyectos {
    display: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0px;
    animation: bounceInUp 0.6s;

    .card {
        box-shadow: 0 0 10px var(--my-info);
    }
}

#habilidades {
    display: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: var(--my-dark);
    text-align: justify;
    box-shadow: 0 0 10px var(--my-info);
    animation: bounceInUp 0.6s;

    ul {
        li {
            list-style: square;

            &::marker {
                color: var(--my-secondary);
            }
        }
    }
}

#contacto {
    display: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: var(--my-dark);
    text-align: justify;
    box-shadow: 0 0 10px var(--my-info);
    animation: bounceInUp 0.6s;
}

#descargar {
    display: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: var(--my-dark);
    text-align: justify;
    box-shadow: 0 0 10px var(--my-info);
    animation: bounceInUp 0.6s;
}

#btnColorPicker {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.marron {
    background-color: #603F26;
}

.verde {
    background-color: #96A78D;
}

.cyan {
    background-color: #0D7377;
}

.violet {
    background-color: #A376A2;
}

.navy {
    background-color: #003161;
}

.halloween {
    background-color: #A55B4B;
}

.vintage {
    background-color: #EBE5C2;
}

.retro {
    background-color: #FFB0B0;
}

#info-mouse {
    position: fixed;
    display: none;
    pointer-events: none;
    background: var(--my-info);
    color: var(--my-dark);
    border: 2px solid var(--my-primary);
    border-radius: 8px;
    padding: 2px 6px;
    font-size: 1rem;
    font-style: normal;
    z-index: 999;
    box-shadow: 0 4px 16px #000a;
    transition: opacity 0.15s;
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.8);
    }

    60% {
        opacity: 1;
        transform: translateY(10px) scale(1.05);
    }

    80% {
        transform: translateY(-5px) scale(0.98);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes fondo-cambio {
    0% {
        filter: brightness(0.8);
    }

    100% {
        filter: brightness(1.8);
    }
}

@keyframes fondo-cambio-marron {
    0% {
        filter: hue-rotate(140deg) sepia(0.3) saturate(0.8) brightness(0.8);
    }

    100% {
        filter: hue-rotate(140deg) sepia(0.3) saturate(0.8) brightness(1.8);
    }
}

@keyframes fondo-cambio-verde {
    0% {
        filter: hue-rotate(235deg) sepia(0) saturate(0.5) brightness(0.8);
    }

    100% {
        filter: hue-rotate(235deg) sepia(0) saturate(0.5) brightness(1.8);
    }
}

@keyframes fondo-cambio-verde {
    0% {
        filter: hue-rotate(235deg) sepia(0) saturate(0.5) brightness(0.8);
    }

    100% {
        filter: hue-rotate(235deg) sepia(0) saturate(0.5) brightness(1.8);
    }
}

@keyframes fondo-cambio-vintage {
    0% {
        filter: hue-rotate(170deg) sepia(0.4) saturate(1) brightness(0.8);
    }

    100% {
        filter: hue-rotate(170deg) sepia(0.4) saturate(1) brightness(1.8);
    }
}

@keyframes fondo-cambio-cyan {
    0% {
        filter: hue-rotate(320deg) sepia(0) saturate(0.8) brightness(0.8);
    }

    100% {
        filter: hue-rotate(320deg) sepia(0) saturate(0.8) brightness(1.8);
    }
}

@keyframes fondo-cambio-navy {
    0% {
        filter: hue-rotate(0deg) sepia(0) saturate(1.4) brightness(0.8);
    }

    100% {
        filter: hue-rotate(0deg) sepia(0) saturate(1.4) brightness(1.8);
    }
}

@keyframes fondo-cambio-violet {
    0% {
        filter: hue-rotate(30deg) sepia(0) saturate(1) brightness(0.8);
    }

    100% {
        filter: hue-rotate(30deg) sepia(0) saturate(1) brightness(1.8);
    }
}

@keyframes fondo-cambio-halloween {
    0% {
        filter: hue-rotate(150deg) sepia(0) saturate(1.2) brightness(0.8);
    }

    100% {
        filter: hue-rotate(150deg) sepia(0) saturate(1.2) brightness(1.8);
    }
}

@keyframes fondo-cambio-retro {
    0% {
        filter: hue-rotate(110deg) sepia(0) saturate(0.6) brightness(0.8);
    }

    100% {
        filter: hue-rotate(110deg) sepia(0) saturate(0.6) brightness(1.8);
    }
}

@keyframes moverFoto {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}